%h1 Listing contestants

%table{class: "contestants-table"}
  %tbody
  - @contestants.each do |c|
    %tr
      %td
        =link_to image_tag(c.avatar.url, :class=>'profile-image-small'),edit_contestant_path(c)
      %td=c.first_name
      %td= "" + c.nickname + ""
      %td=c.last_name
      %td=c.description
      %td=c.date_added
      %td=link_to 'Details', contestant_path(c)
      %td=link_to 'Edit', edit_contestant_path(c)
      %td=link_to 'Delete', c, method: :delete, data: {confirm: 'Are you sure?' }

%br
%div= link_to 'New Contestant',   new_contestant_path

